body {
  margin: 0 auto;
}

.player {
  margin-left: 1px;
}

.progress-bar {
  padding: 0;
  pointer-events: none;
}

.internal-error {
  position: absolute;
  left: 1px;
  bottom: 1px;
  right: 1px;
  background: #fff;
}

.controls {
  display: none;
}

.has-ui .controls {
  display: block;
}
.hide-ui .controls {
  position: absolute;
  width: 100%;
}
.hide-ui .controls span {
  display: none;
}
.hide-ui .player {
  box-shadow: none;
}
