body {
  width: 480px;
  margin: 32px auto 0;
  padding-bottom: 32px;
}
.title {
  margin: 16px 0 0;
  position: relative;
}
.url {
  position: relative;
  background: 0;
  border: 0;
  margin: 0;
  padding: 0 0 0 32px;
  outline: 0;
  font: 300 24px/32px Helvetica Neue, Helvetica, Arial, sans-serif;
  display: block;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(0, 0, 0, .4);
}
.url:focus {
  color: #000;
}
.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background: #cde;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.progress-bar.error {
  background: #ecc;
}
.project-link {
  position: absolute;
  top: 0;
  left: 0;
  background-position: -160px 0;
}
.controls {
  height: 32px;
}
.controls span,
.project-link {
  width: 32px;
  height: 32px;
  float: right;
  cursor: pointer;
  text-align: center;
  opacity: .4;
  background-image: url(icons.svg);
  text-decoration: none;
}
.controls .stop {
  background-position: -96px 0;
}
.controls .pause {
  background-position: -32px 0;
}
.controls .play {
  background-position: -64px 0;
}
.controls .full-screen {
  float: left;
  background-position: -128px 0;
}
.controls span:active,
.project-link:active {
  opacity: 1 !important;
}
.controls .turbo {
  float: right;
  display: none;
  cursor: default;
  color: rgba(0, 0, 0, .4);
  font: 500 12px/32px Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 0 8px;
}
.player {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .4);
  width: 480px;
  height: 360px;
  position: relative;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}

.fs {
  background: #000;
  width: 100%;
  height: 100%;
}
.fs body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.fs .title {
  display: none;
}
.fs .controls span {
  background-position-y: -32px;
  opacity: .6;
}
.fs .player {
  box-shadow: none;
}
