body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}

.dark {
  background-color: #111;
  color: #ddd;
  scrollbar-color: #444 #222;
}

#app {
  width: 480px;
  margin: 24px auto 0;
  padding-bottom: 24px;
}

.title {
  margin: 16px 0 0;
  position: relative;
}

.url {
  position: relative;
  background: 0;
  border: 0;
  margin: 0;
  padding: 0 0 0 32px;
  outline: 0;
  font-size: 23px;
  line-height: 32px;
  display: block;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(0, 0, 0, .4);
}

.url:focus {
  color: #000;
}

.dark .url {
  color: rgba(255, 255, 255, .4);
}
.dark .url:focus {
  color: #fff;
}

.project-link {
  position: absolute;
  top: 0;
  left: 0;
  background-position: -160px 0;
}
.dark .project-link {
  background-position: -160px -32px;
}

a {
  cursor: pointer;
  color: #25d;
  text-decoration: underline;
}
a:visited {
  color: #73c;
}
a:active {
  color: #03a;
}
.dark a {
  color: #4af;
}
.dark a:visited {
  color: #b381ef;
}
.dark a:active {
  color: #58f;
}

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown > select {
  -webkit-appearance: none;
  font: inherit;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.area {
  overflow: hidden;
  margin: 0 -24px;
  padding: 0 24px;
}
#player-area, #project-area {
  height: 0;
}
#player-area {
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
}
.fs #player-area {
  overflow: visible;
}

section {
  margin: 24px 0;
}
h1, p {
  margin: 0 0 16px;
}
h1 {
  /*font: 300 24px/32px Helvetica Neue, Helvetica, Arial, sans-serif;*/
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  margin: 16px 0 0;
}
h1.title {
  font-size: 54px;
  line-height: 72px;
  margin: 0;
}
code {
  font: 12px Menlo, Monaco, Consolas, Courier New, monospace;
  background: #f5f5f5;
  border-radius: 3px;
  padding: 3px;
  color: #000;
}

/*.package a {
  padding: 2px 8px;
  background: linear-gradient(#fafafa, #e8e8e8);
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, .35),
    0 1px 4px rgba(0, 0, 0, .2);
  border-radius: 3px;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.package a:hover {
  background: linear-gradient(#fff, #eaeaea);
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, .4),
    0 1px 4px rgba(0, 0, 0, .3);
}
.package a:active {
  background: linear-gradient(#ddd, #eaeaea);
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, .5),
    inset 0 2px 5px rgba(0, 0, 0, .15);
}
.package label,
.package input,
.package a,
.package span {
  display: inline-block;
  vertical-align: middle;
}
.package input[type=checkbox] {
  margin: 0 0 0 16px;
}*/

#embed-code {
  background: 0;
  border: 1px solid rgba(0, 0, 0, .4);
  margin: 0;
  padding: 4px;
  outline: 0;
  width: 80px;
  font-size: 12px;
  line-height: 16px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, .7);
  font-family: monospace;
}
.dark #embed-code {
  color: rgba(255, 255, 255, .7);
  border-color: rgba(255, 255, 255, .4);
}

.theme-select {
  position: absolute;
  right: 5px;
  top: 5px;
  opacity: 0.5;
  transition: 0.2s opacity;
}
.theme-select:hover {
  opacity: 1;
}
.fs .theme-select {
  display: none;
}

.upload-button {
  position: relative;
}
#upload-file-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
