.player {
  color: #000;
  width: 480px;
  height: 360px;
  position: relative;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .4);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}
.light-content.player, .dark .player {
  border-color: rgba(255, 255, 255, .4);
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background: #cde;
  transition: width .3s, background .3s, opacity .3s;
}
.progres-bar.error {
  background: #eaa;
}

.dark .progress-bar {
  background: #234;
}
.dark .progress-bar.error {
  background: #411;
}

.controls {
  position: relative;
  height: 32px;
}

.controls .button, .project-link {
  width: 32px;
  height: 32px;
  float: right;
  cursor: pointer;
  text-align: center;
  opacity: .4;
  background-image: url(icons.svg);
  text-decoration: none;
}
.controls .full-screen {
  float: left;
  background-position: -128px -0px;
}
.controls .flag {
  background-position: 0px -0px;
}
.controls .stop {
  background-position: -96px -0px;
}
.controls .play {
  background-position: -64px -0px;
}
.controls .pause {
  background-position: -32px -0px;
}

.controls .button:active,
.project-link:active {
  opacity: 1;
}

.controls .turbo {
  float: right;
  display: none;
  user-select: none;
  cursor: default;
  color: rgba(0, 0, 0, .4);
  font: 500 12px/32px sans-serif;
  padding: 0 8px;
}

.internal-error {
  color: rgb(128, 0, 0);
  font: 500 12px sans-serif;
  padding: 8px;
  display: none;
  border-top: 1px solid rgba(0, 0, 0, .4);
}
.internal-error a {
  color: rgb(100, 0, 0);
}
.dark .internal-error {
  border-color: rgba(255, 255, 255, .4);
  color: rgb(255, 91, 91);
}
.dark .internal-error a {
  color: rgb(210, 24, 24);
}

.fs {
  background: #000;
}
.fs #app {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.fs .title,
.fs section {
  display: none;
}
.fs .controls span,
.light-content .controls span,
.dark .controls span {
  background-position-y: -32px;
  opacity: .6;
}
.fs .controls .full-screen {
  background-position-x: -160px;
}
.fs .light-content .controls .full-screen
.dark .fs .controls .fullscreen {
  background-position-y: -32px;
}
.fs .controls .turbo,
.light-content .controls .turbo,
.dark .controls .turbo {
  color: rgba(255, 255, 255, .6);
}
.fs .player {
  box-shadow: none;
}
.fs .forkphorus-root {
  z-index: 1000;
}
