.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background: #cde;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.progress-bar.error {
  background: #eaa;
}

.dark .progress-bar {
  background: #234;
}
.dark .progress-bar.error {
  background: #411;
}

.controls {
  position: relative;
  height: 32px;
}
.controls span, .project-link {
  width: 32px;
  height: 32px;
  float: right;
  cursor: pointer;
  text-align: center;
  opacity: .4;
  background-image: url(icons.svg);
  text-decoration: none;
  background-position-y: 0;
}
.dark .controls span {
  background-position-y: 64px;
}
.controls .flag {
  background-position-x: 0;
}
.controls .stop {
  background-position-x: -96px;
}
.controls .pause {
  background-position-x: -32px;
}
.controls .play {
  background-position-x: -64px;
}
.controls .full-screen {
  float: left;
  background-position: -128px;
}
.controls span:active,
.project-link:active {
  opacity: 1 !important;
}
.controls .turbo {
  float: right;
  display: none;
  cursor: default;
  color: rgba(0, 0, 0, .4);
  font: 500 12px/32px Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 0 8px;
}

.player {
  color: #000;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .4);
  width: 480px;
  height: 360px;
  position: relative;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}
.light-content .player {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .4);
}

.internal-error {
  color: rgb(128, 0, 0);
  font: 500 12px Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 8px;
  display: none;
}
.internal-error a {
  color: rgb(100, 0, 0);
}

.dark .internal-error {
  color: rgb(255, 91, 91);
}
.dark .internal-error a {
  color: rgb(210, 24, 24);
}

.fs {
  background: #000;
  width: 100%;
  height: 100%;
}
.fs body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.fs .title,
.fs section {
  display: none;
}
.fs .controls span,
.light-content .controls span {
  background-position-y: -32px;
  opacity: .6;
}
.light-content .controls .full-screen {
  background-position-y: -64px;
}
.fs .light-content .controls .full-screen {
  background-position-y: -32px;
}
.fs .controls .turbo,
.light-content .controls .turbo {
  color: rgba(255, 255, 255, .6);
}
.fs .player {
  box-shadow: none;
}

/* Styles for Scratch 3 variable watchers */
/* Many of these values are taken directly from Scratch 3. */
.s3-watcher-container {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.s3-watcher-normal {
  font-size: 0.75rem;
  padding: 3px;
  display: flex;
  flex-direction: row;
  background: hsl(215, 100%, 95%);
}
.s3-watcher-label {
  font-weight: bold;
  text-align: center;
  margin: 0 5px;
}
.s3-watcher-value {
  color: white;
  text-align: center;
}
.s3-watcher-container[opcode^="data_"] .s3-watcher-value {
  background-color: rgb(255, 140, 26);
}
.s3-watcher-container[opcode^="sensing_"] .s3-watcher-value {
  background-color: rgb(92, 177, 214);
}
.s3-watcher-container[opcode^="motion_"] .s3-watcher-value {
  background-color: rgb(76, 151, 255);
}
.s3-watcher-container[opcode^="looks_"] .s3-watcher-value {
  background-color: rgb(153, 102, 255);
}
.s3-watcher-container[opcode^="sound_"] .s3-watcher-value {
  background-color: rgb(207, 99, 207);
}
/* Normal watcher */
.s3-watcher-normal .s3-watcher-value {
  border-radius: 0.25rem;
  padding: 0 2px;
  margin: 0 5px;
  min-width: 40px;
}
/* Large watcher */
.s3-watcher-large {
  background: hsl(215, 100%, 95%);
}
.s3-watcher-large .s3-watcher-value {
  font-size: 1rem;
  min-height: 1.4rem;
  min-width: 3rem;
  padding: 0.1rem 0.25rem;
}
