.studioview-root {
  height: 100%;
}
.studioview-root[loading] .studioview-list {
  opacity: 0.6;
}
.studioview-list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.studioview-project {
  display: inline-block;
  cursor: pointer;
  width: 144px;
  padding: 3px;
  margin-bottom: 1px;
  margin-right: 1px;
}
.studioview-root[theme=light] .studioview-project:hover {
  background: rgba(0, 0, 0, 0.1);
}
.studioview-root[theme=dark] .studioview-project:hover {
  background: rgba(255, 255, 255, 0.1);
}
.studioview-title, .studioview-author {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.studioview-title {
  font-size: 0.8em;
  font-weight: bold;
}
.studioview-author {
  font-size: 0.75em;
}
.studioview-error {
  width: 100%;
}
